.headerbar{
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    position: fixed;

    top: 0;
    width: 30vh;
    bottom: 0;
    right: -100%;

    transition: all 1s;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    border: .5px solid;
    border-color: rgb(255, 255, 255);

    box-sizing: border-box;
}

.headerbar .account, .headerbar .nav{
    display: block;
    font-size: 18px;
}

.bar .fa-xmark{
    display: none;
    top: 20px;
    right: 5w;
    position:absolute;
    font-size: 25px;
    z-index: 10;
}

.headerbar .account{
    line-height: 40px;
    margin-top: 60px;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid;
    border-top-color: white;
    padding: 15px;
    opacity: 0.9
}

.headerbar .account > ul{
    justify-content: space-between;
}

.headerbar .account > ul{
    display: flex;
    align-items:center;
}

.headerbar > .nav > ul{
    height: 100%;
    width: 100%;
    list-style: none;
}

.headerbar > .nav > ul > li{
    line-height: 60px;
    border-bottom: 1px solid red
}

.headerbar > .nav > ul > li > a{
    position: relative;
    display: flex;
    font-size: 20px;
    padding-left: 16px;
    border-left: 3px solid transparent;
}


.headerbar .nav li a:hover {
    color: aquamarine;
    background: rgb(50, 50, 50);
    border-left-color: aquamarine;
    transition: all 0.3s ease;
  }

/* bolding the current subheading and completeing the lines*/
.headerbar .nav > ul > li:first-child {
    border-top: 1px solid red;
    font-weight: bold;
}

.dropdown_menu{
    position: static;
    display: none;
}

.dropdown_menu li{
    line-height: 30px;

    transition: all 2s;
}

.dropdown_menu li a{
    position: relative;
    display: flex;
    font-size: 14px;
    color: aliceblue;
    margin-left: 40px;
    border-left: 3px solid transparent;

}

.nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;

    transition: all .4s;
}

@media only screen and (max-width: 768px){
    .headerbar{
        top: 0;
        width: 100%;
        bottom: 0;
        right: -100%;
    }

    .headerbar .account, .headerbar .nav{
        display: block;
        font-size: 18px;
    }

    .bar .fa-xmark{
        display: none;
        top: 20px;
        right: 5w;
        position:absolute;
        font-size: 25px;
    }

    .nav_bar_link{
        display: none;
    }
    .headerbar .nav ul{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }

    .headerbar .nav li{
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        font-size: 15px;
        margin-top: 5px;
    }

    .headerbar .account{
        line-height: 40px;
        margin-top: 60px;
        padding: 15px;
    }

    .headerbar .account ul{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 550px){
    
}