.navbar-button {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar-button:hover {
    background-color: #ddd;
    color: black;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-button {
        width: 100%;
    }
}