.home-page-menu-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-left: 80px;
    margin-right: 80px;
    flex-wrap: wrap;
}

.home-page-menu-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-page-menu-title{
    font-size: 3.5em;
    font-weight: 600;
}

.home-page-menu-items-column-container{
    display: flex;
    justify-content: space-between;
}

.home-page-menu-items-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column{
    margin-left: 50px;
    margin-right: 50px;
}

.home-page-menu-button-container{
    display:flex;
    justify-content: center;
}

.home-page-menu-view-full-menu{
    margin-top: 40px;
    margin-right: 50px;
    width: 250px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.home-page-menu-view-full-menu:hover{
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.home-page-menu-right{
    position: relative;
    width: 600px;
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}