.slide-show {
    background-color: red;
}

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
}
  
.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
    color: red;
    user-select: none;
}


.indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    margin: 0;
    position: relative;
    bottom: 5px;
}
  
.indicator.active {
    color: blue;
    background: #666;
}