.footer-container{
    padding: 60px 0;
    border-top: 2px solid rgb(252, 184, 107);
    background-color: rgb(252, 222, 195);
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

.logo-container{
    width: 100%;
    max-width: 200px;
    height: auto; 
    overflow: hidden;

    padding: 20px 60px 20px 60px;
}

.logo-img{
    height: auto;
    max-width: 100%;
    display: block;
}

.text-container{
    background-color: red;
    display: flex;
}
.footer_1 p{
}

@media only screen and (max-width: 768px){
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer .footer_1 div{
        margin: 0;
    }

    .footer div{
        margin-bottom: 40px;
    }

    .footer .footer_1, .footer .footer_2{
        text-align: center;
        margin: 5px 0;
    }

    .footer .footer_1 div{
        margin: 0;
    }

    .footer div{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 550px){
    .footer div:last-child{
        margin-bottom: 0;
    }

    .footer{
        padding-bottom: 25px;
    }

    .footer_2 h2{
        font-size: 20px;
    }

    .footer div:last-child{
        margin-bottom: 0;
    }

    .footer{
        padding: 25px;
    }

    .footer_2 h2{
        font-size: 20px;
    }
}