.menu-page {
    width: 100%;
    border: 0;
    background-color: #FDF9ED;
    color: #260307;
}

.menu-page-title {
    width: 100%;
    text-align: center;
    font-size: 10em;
    font-weight: bold;
}

.menu-card-container {
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* row-gap: 50px; */
    column-gap: 0;
}

.menu-page-light {
    width: 100%;
    padding: 0;
    background-color: #FDF9ED;
}

.menu-page-dark {
    width: 100%;
    padding: 0;
    background-color: #F9EDC8;
}
