/* .menu-card {
    box-sizing: border-box;
    width: 60%;
    height: 400px;
    margin: auto;
    padding: 2% 0;

    overflow: hidden;
}

.menu-card-light {
}

.menu-card-left {
    position: relative;
    width: 50%;
    height: 100%;
    margin-right: 5%;
    float: left;
}

.menu-card-right {
    width: 40%;
    height: 100%;
    float: right;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card-title {
    width: 100%;
    font-size: 4em;
    font-weight: bold;
    text-align: left;
    user-select: none;
}

.menu-card-text {
    margin: 10% 0;
    width: 100%;

    font-size: 1.3em;
    text-align: left;
}

.menu-card-picture {
    height: 100%;
    border-radius: 0%;
    user-select: none;
}

.menu-card-button {
    position: absolute;
    bottom: 10%;

    font-size: 1.3em;
    user-select: none;

    color: #F02719;
}

.menu-card-button:hover {
    color: #F34B3F;
    cursor: pointer;
}

.menu-card-button:active {
    box-shadow: 2px 2px 2px #861109;
} */