.menu-card {
    box-sizing: border-box;
    width: 100%;
    height: 650px;
    margin: auto;
    padding: 4% 3%;

    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #260307;

    overflow: hidden;
    background-color: #EBD8AD;
}

.menu-card-light {
    background-color: #F3E8CE;
}

.menu-card-left {
    position: relative;
    width: 55%;
    height: 100%;
    margin-right: 5%;
    float: left;
}

.menu-card-right {
    width: 40%;
    height: 100%;
    float: right;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card-title {
    width: 100%;
    font-size: 4em;
    font-weight: bold;
    text-align: left;
    user-select: none;
}

.menu-card-text {
    margin: 5% 0;
    width: 100%;

    font-size: 1.3em;
    text-align: left;
}

.menu-card-picture {
    width: 100%;
    /* height: 100%; */
    /* height: 200px; */
    border-radius: 100%;
    user-select: none;
}

.menu-card-button {
    position: absolute;
    bottom: 50px;
    padding: 5px 20px;

    font-size: 2em;
    user-select: none;

    border-width: 2px;
    border-style: solid;
    border-color: #260307;
    border-radius: 10px;
    box-shadow: none;

    background-color: #F02719;
    /* box-shadow: 2px 2px 2px #861109; */
}

.menu-card-button:hover {
    background-color: #F34B3F;
    cursor: pointer;
}

.menu-card-button:active {
    /* background-color: white; */
    box-shadow: 2px 2px 2px #861109;
}