.food-card-container {
    height: auto;
    width: 20vw;
    text-align: center;
    background-color: black;
    padding: 2% 2%;
}

.food-card-picture {
    height: 40%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-color: aqua;
}

.food-card-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5%;
}

.food-card-text {
    margin-top: 3%;
    font-size: 1rem;
}

.food-card-price {
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}


@media (max-width: 1000px) {
    .food-card-container {
        width: 40%;
        height: auto;
        padding: 5% 5%;
    }

    .food-card-picture {
        height: auto;
        max-height: 40%;
    }

    .food-card-title {
        font-size: 2rem;
    }

    .food-card-text {
        font-size: 1rem;
    }

    .food-card-price {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .food-card-container {
        width: 95%;
        padding: 8% 5%;
    }

    .food-card-title {
        font-size: 1.8rem;
    }

    .food-card-text {
        font-size: 1rem;
    }

    .food-card-price {
        font-size: 1.3rem;
    }
}